@use "variables" as *;

@mixin focusable {
	/* Supprime le bord gris par défaut */
	outline: 0;
	position: relative;

	&:focus::after {
		content: "";

		border: $focus-border-size solid $color-primary;
		border-radius: $focus-offset;
		outline: none;

		position: absolute;
		top: -$focus-offset;
		bottom: -$focus-offset;
		left: -$focus-offset;
		right: -$focus-offset;
	}
}

@mixin focusable-img {
	&:focus {
		padding: $focus-offset;

		border: $focus-border-size solid $color-primary;
		border-radius: $focus-offset;

		outline: none;
	}
}

@mixin focusable-button {
	&:focus {
		outline: 0;
		position: relative;

		&::after {
			content: "";

			border: $focus-border-size solid $background-primary;
			border-radius: 8px;

			outline: none;
			position: absolute;
			top: -4px;
			bottom: -4px;
			left: -4px;
			right: -4px;
		}
	}
}

@mixin focusable-modal {
	&:focus {
		outline: 2px solid $color-tertiary;
		border-radius: $border-radius;
		z-index: 1;
	}
}
