$color-primary: #d3573c;
$color-secondary: #525252;
$color-tertiary: #901c1c;
$background-primary: #901c1c;
$background-secondary: #d3573c;
$color-accent: #fafafa;

$font-primary: "DM Sans", sans-serif;