$color-primary: #d3573c;
$color-secondary: #525252;
$color-tertiary: #901c1c;
$background-primary: #901c1c;
$background-secondary: #db8876;
$color-accent: #fafafa;

$page-width: 1240px;

$font-primary: 'DM Sans', sans-serif;
$border-radius: 5px;

$focus-offset: 16px;
$focus-border-size: 2px;

$header-margin: 100px;

$thumbnail-width: 350px;
$thumbnail-height: $thumbnail-width;

$lightbox-padding: 80px;
