@use '../utils/' as *;

.header {
  height: 90px;
  padding: 0 $header-padding;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  a {
    @include focusable;
  }
  &__logo {
    height: 50px;
  }
  h1 {
    @include focusable;

    color: $color-tertiary;
  }
}
