@use "../utils/" as *;

.insert {
	width: 200px;
	padding: 1em 1.5em;

	color: black;
	background-color: $background-secondary;
	border-top-left-radius: $border-radius;
	border-top-right-radius: $border-radius;
	font-weight: 500;

	position: fixed;
	right: 50px;
	bottom: 0;
	display: flex;
	justify-content: space-between;

	> p {
		margin: 0;
	}
}
