@use '../utils/' as *;

.lightbox {
  @include focusable-inset;
  &[aria-hidden='true'] {
    display: none;
  }
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &__img,
  &__video {
    @include focusable-block;
    &[aria-hidden='true'] {
      display: none;
    }
    width: calc(100% - $lightbox-padding * 2);
    height: calc(100% - $lightbox-padding * 2);
    object-fit: contain;

    position: absolute;
    top: $lightbox-padding;
    bottom: $lightbox-padding;
    left: $lightbox-padding;
    right: $lightbox-padding;
  }
  &__title {
    @include focusable;
    padding: 0;
    line-height: $lightbox-padding - 50px;
    margin: 25px 0;

    color: $color-tertiary;

    position: absolute;
    left: $lightbox-padding;
    bottom: 0;
  }
  &__arrowLeft {
    @include focusable;
    width: 30px;
    height: 48px;

    background-image: url('/assets/icons/arrow-left.svg');
    cursor: pointer;

    position: absolute;
    top: calc(50% - calc(48px / 2));
    left: calc($lightbox-padding / 2) - calc(30px / 2);
  }
  &__arrowRight {
    @include focusable;
    width: 30px;
    height: 48px;

    background-image: url('/assets/icons/arrow-right.svg');
    cursor: pointer;

    position: absolute;
    top: calc(50% - calc(48px / 2));
    right: calc($lightbox-padding / 2) - calc(30px / 2);
  }
  &__close {
    @include focusable;
    width: 42px;
    height: 42px;

    background-image: url('/assets/icons/close-red.svg');
    cursor: pointer;

    position: absolute;
    top: calc($lightbox-padding / 2) - calc(42px / 2);
    right: calc($lightbox-padding / 2) - calc(42px / 2);
  }
}
