@use '../utils/' as *;

.medias {
  padding: 0 20px;
  margin: 1em auto 4em;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 95px;
}
.media {
  cursor: pointer;

  &__thumbnail {
    width: $thumbnail-width;
    height: $thumbnail-height - 30px;

    border-radius: $border-radius;
    object-fit: cover;

    @include focusable-block;
  }
  &__desc {
    width: $thumbnail-width;
    height: 25px;
    margin-top: 5px;

    color: $color-tertiary;

    display: flex;
    justify-content: space-between;

    > * {
      margin: 0;

      font-size: 19px;
      font-weight: normal;

      display: flex;
      align-items: center;
    }
    h2 {
      @include focusable(4px);
      &:focus::after {
        border-radius: 7px;
      }
    }
  }
  &__likes {
    justify-content: flex-end;
  }
  &__heart {
    width: 16px;
    height: 16px;
    margin-left: 4px;

    background: no-repeat center;
    background-image: url('../assets/icons/heart.svg');
    transition: 0.3s;
    &--empty {
      background-image: url('../assets/icons/heart-empty.svg');
    }
    @include focusable-circle(8px);
    &:focus {
      margin-left: 15px;
    }
    &:focus,
    &:hover {
      transform: scale(1.2);
    }
  }
}
