@use "../utils/" as *;

.photographers {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 70px;
	margin-top: 100px;

	.photographer {
		justify-self: center;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		h2 {
			color: $color-primary;
			font-size: 36px;
			margin-bottom: 0.1em;
		}
		img {
			height: 200px;
			width: 200px;
			border-radius: 50%;
			object-fit: cover;
		}
		&__city {
			margin: 0.2em;
            font-size: 13px;
			color: $color-tertiary;
		}
		&__tagline {
            font-size: 10px;
			margin: 0.2em;
		}
		&__price {
            font-size: 9px;
			color: $color-secondary;
			margin: 0.2em;
		}
	}
}
